#form{
    display: flex;
    justify-content: space-around;
}
.numbers{
    margin: 10px;
    padding: 10px;
}
input{
    margin: 10px;
    padding: 10px;
}
.container{
    display: flex;
     justify-content: center;
}
.container div{
    margin: 20px;
    padding: 10px;
}